/* Header----------------------------------------------------------------------------------------------------- */

/* Sidebar----------------------------------------------------------------------------------------------------- */

/* Content----------------------------------------------------------------------------------------------------- */
.contentContainer{
  background-color: #fff;
}
.caratCol{
  display: inline-block;
}
.caratCol button{
  margin: 10px;
}
.categoryCol{
  display: block;
}
.categoryCol button{
  width: 100%;
  margin: 10px;
}
/* Carat----------------------------------------------------------------------------------------------------- */

/* Category----------------------------------------------------------------------------------------------------- */

/* Table----------------------------------------------------------------------------------------------------- */

/* Info----------------------------------------------------------------------------------------------------- */
.listBlockRow{
  margin: 10px 0px;
}
.updateItemBlock button{
  width: 100%;
}
.listBlockHeaderCol{
  padding: 0px;
}
.listBlockSubheaderCol{
  padding: 0px;
}
.listBlockHeaderCol p{
  font-size: 24px;
  text-align: center;
  background-color: gold;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.listBlockSubheaderCol p{
  font-size: 12px;
  text-align: center;
  background-color: rgb(139, 122, 26);
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Footer----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */